
<div class="encadre_rubrique">
    <div class="encadre_rubrique_contenu">
        <br/><img alt="DIS Lyon 2" src="http://dis.univ-lyon2.fr/medias/photo/logo_1486989436724-png"
                style="margin: 0px 5px; width: 153px; height: 138px;" alt="" title=""/>
        <br/><img alt="ICOM" src="http://dis.univ-lyon2.fr/medias/photo/logo-icom-v1_1486553123708-jpg"
        		style="margin: 0px 5px; width: 153px; height: 138px;" alt="" title=""/>
    </div> <!-- .encadre_rubrique_contenu -->
</div> <!-- .encadre_rubrique -->


<div class="encadre_fiche">

    <div class="encadre_fiche_contenu">
        {% autoescape false %}
        {{ menu_droite }}
        {% endautoescape %}
    </div>  <!-- .encadre_fiche_contenu -->
</div> <!-- .encadre_fiche -->
