
<div id="menu">
    <ul id="menu_principal">
        <li><a href="index.php" title="Retour &agrave; la page d'accueil">Accueil</a></li>
        <li><a href="etudiants.php">&Eacute;tudiants</a></li>
        <!--<li><a href="missions.php"><i class="fa fa-tasks"></i> Missions</a>-->
          <!--  <ul>
                <li><a href="http://dis.univ-lyon2.fr/fr/nos-formations/formations-initiales/">Formations
                    initiales</a></li>
                <li><a href="http://dis.univ-lyon2.fr/fr/nos-formations/formations-continues/">Formations
                    continues</a></li>
                <li><a href="http://dis.univ-lyon2.fr/fr/nos-formations/formations-internationnales/">Formations
                    internationnales</a></li>
                <li><a href="http://dis.univ-lyon2.fr/fr/nos-formations/procedure-de-recrutement/">Procedure
                    de recrutement</a></li>
            </ul>-->
        </li>
        <li><a href="documents.php">Documents</a></li>
        <!--<li><a href="reunions.php"><i class="fa fa-comments"></i> Réunions</a></li>-->
        <li><a href="agenda.php">Agenda</a></li>
        <!--<li><a href="settings.php"><i class="fa fa-wrench"></i> Paramètres</a></li>-->
    </ul>
    <div class="separateur"></div>
</div> <!-- #menu -->
