<!DOCTYPE html>
<html lang="fr">

    <head>

        {% include 'includes/$head.html' %}

    </head>

    <body class="pageaccueil accueil">

        <div class="bordure"></div>


        <div id="bandeau_deco">

            {% include 'includes/$bandeau_deco.html' %}

        </div>
        <!-- #bandeau_deco -->

        <div id="page_deco">

            <div id="page">

                <hr class="separateur_sections_page" />
                <div id="contenu_deco">

                    <div id="bandeau_illustration"></div>

                    {% include 'includes/$header_nav.html' %}

                    {% include 'includes/$menu.html' %}

                    <div id="avec_nav_avec_encadres" class="contenu">

                        <ul class="breadcrumb">
                            <li><a href="index.php">Accueil</a></li>
                            <li>&gt;</li>
                            <li><a href="etudiants.php">Etudiants</a></li>
                            {% if info_doctorant is not empty %}
                            <li>&gt;</li>
                            <li><a href="etudiants.php?id={{ info_etudiant.url }}">{{ info_etudiant.PrenomUtilisateur }} {{ info_etudiant.NomUtilisateur }}</a></li>
                            {% endif %}
                            {% if info_etudiant is not empty and display_form_update %}
                            <li>&gt;</li>
                            <li><a href="#">Modification</a></li>
                            {% endif %}
                        </ul>

                        <!-- MLA Just begin SELECTION GROUPE ET PROMOTION-->
                        <body>
                            <div class="panel panel-default center">
                                <header>
                                    <h3>Selection d'un Groupe et d'une promotion</h3>
                                </header>
                                <br/>
                                <h4><b><font color=black><!--<i class="fa fa-list-alt"></i> --> Choix de la promotion ( 1996-2017 )</font></b></h4>
                            <form action="req.php" method="post">
                                Promotion :  <input type="text" name="Promotion" >
         
                                       
                            <br/>
                             <br/>
                               
                                 <h4><b><font color=black><!--<i class="fa fa-check-square"></i> --> Choix du groupe (1 ou 2)</font></b></h4>
                                
                               <!-- <p>(cocher les 2 cases pour afficher l'ensemble des élèves)</p> -->
                                 
                                           <!-- <input type="checkbox" name="groupe" value="G1"> Groupe 1
                                            <input type="checkbox" name="groupe" value="G2"> Groupe 2 -->
                                   Groupe :  <input type="text" name="groupe" > 

                                <br/><br/><button class="btn btn-primary" action="list_groupe.php" type="submit"><i class="fa fa-check"></i> Valider</button></br></br>
                            </form>
                            </div>
                        <!-- MLA Just end-->

                        {# si aucun etudiant n'a été séléctionné #}
                        {% if info_etudiant is empty %}

                        {# formulaire de selection d'un etudiant #}
<!--MLA 11082017-->
                        <div class="panel panel-default center">
                            <header>
                                <h3>RECHERCHE D'UN &Eacute;TUDIANT</h3>
                            </header>
                            <div class="panel-body">
                                <form action="" method="post">
                                    {% if role == 2 %}
                                    <!--<a class="btn btn-default" href="?filter=all">Tous</a>
                                    <a class="btn btn-default" href="?filter=missions">Etudiant d'une mission</a>
                                    <hr/>-->
                                    {% endif %}
                                    {% if liste_etudiants.0 is not empty %}
                                    <select id="list_etudiant" name="id_etudiant">
                                        {% for etudiant in liste_etudiants %}
                                        <option value="{{ etudiant.NumUtilisateur }}" {% if info_etudiant.NumUtilisateur==etudiant.NumUtilisateur %}selected{% endif %}>{{ etudiant.PrenomUtilisateur }} {{ etudiant.NomUtilisateur }} {% if etudiant.mission is defined %} - {{ etudiant.mission }} {% endif %}</option>
                                        {% endfor %}
                                    </select>
                                    <script type="text/javascript">
                                        $('#list_etudiant').select2();
                                        </script>
                                    {% else %}
                                    <p>Aucun Etudiant pour ce filtre</p>
                                    {% endif %}
                                    <br/><br/><button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Valider</button>
                                </form>
                            </div>
                        </div>

                        {# fin formulaire de selection d'un etudiant #}
                        
                        <!-- MLA Just begin AJOUT EN MASSE-->
                        <div class="panel panel-default center">
                            <header>
                                <h3>AJOUT D'&Eacute;TUDIANTS EN MASSE</h3>
                            </header>
                            <!--
                             1ere solution
                             <tr>
                                <th>En cliquant sur le bouton suivant,<br/> vous devrez choisir un fichier permettant <br/>
                                     d'insérer des données en masse dans la BDD</th>
                                <td><input style="width:96.5%;" type="file" name="files[]" multiple="multiple" required /></td>
                            2eme solution
                            <form action="../App/Model/Uploadcsv.php" method="post" enctype="multipart/form-data">
                                Selectionner un fichier:
                                <input type="file" name="fileToUpload" id="fileToUpload">
                                    <input type="submit" class="fa fa-check" name="submit">
                            </form></tr>-->
                            <!-- Le type d'encodage des données, enctype, DOIT être spécifié comme ce qui suit -->
                           <br/>
                            <!-- <form enctype="multipart/form-data" action="_URL_" method="post">
                                <!-- MAX_FILE_SIZE doit précéder le champ input de type file
                                <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                                <!-- Le nom de l'élément input détermine le nom dans le tableau $_FILES
                                Envoyez ce fichier : <input name="userfile" type="file" />
                                <input type="submit" value="Envoyer le fichier" />
                            </form>
                            -->
                            
                            <!-- Lecture d'un fichier test.csv-->
                            <form name="uploadForm" method="post" action="envoi_csv.php" enctype="multipart/form-data">
                                <p><input id="uploadInput" type="file" name="myFiles" onchange="updateSize();"> </p>
                                <p><input class="btn btn-primary" style = "color:white;" type="submit" value="Valider"></p>
                            </form>

                            
                            
                            <br/><br/>
                        </div>
                        <!-- MLA -FIN AJOUT EN MASSE-->

                        {# si un etudiant a été choisi #}
                        {% else %}


                        <div class="panel panel-default center">

                            {# formulaire de modification #}
                            {% if display_form_update %}

                            <header>
                                <h3>Modification : {{ info_etudiant.PrenomUtilisateur }}{{ info_etudiant.NomUtilisateur }} </h3>
                            </header>
                            <div class="panel-body">
                                <form action="" method="post" enctype="multipart/form-data">
                                    <input hidden name="update_NumUtilisateur" value="{{ info_etudiant.NumUtilisateur }}"/>
                                    <table class="table" style="text-align:left;">
                                        <tr>
                                            <td class="center">
                                                <img style="border-radius:360px;" width="100" height="100" src="{{ info_etudiant.photoUtilisateur }}"/>
                                            </td>
                                            <td colspan="2">
                                                <input style="width:96.5%;" type="file" name="photo"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">
                                                <i class="fa fa-info"></i> Nom Prénom
                                            </td>
                                            <td>
                                                <input style="width:92.5%;" name="PrenomUtilisateur" type="text" value="{{ info_etudiant.PrenomUtilisateur }}" placeholder="Prénom"/>
                                            </td>
                                            <td>
                                                <input style="width:92.5%;" type="text" name="NomUtilisateur" value="{{ info_etudiant.NomUtilisateur }}" placeholder="Nom"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">
                                                <i class="fa fa-envelope"></i> Email
                                            </td>
                                            <td colspan="2">
                                                <input style="width:96.5%;" type="text" name="EmailUtilisateur" value="{{ info_etudiant.EmailUtilisateur }}" placeholder="Email"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">
                                                <i class="fa fa-birthday-cake"></i> Née le
                                            </td>
                                            <td colspan="2">
                                                <input style="width:96.5%;" type="text" name="DateNaissanceUtilisateur" value="{{ info_etudiant.DateNaissanceUtilisateur }}"  placeholder="Date de naissance"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" style="text-align:right;">
                                                <i class="fa fa-street-view"></i> Adresse
                                            </td>
                                            <td colspan="2">
                                                <input style="width:96.5%;" type="text" name="AdrRueUtilisateur" value="{{ info_etudiant.AdrRueUtilisateur }}" placeholder="Adresse"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input style="width:92.5%;" type="text" name="AdrCPUtilisateur" value="{{ info_etudiant.AdrCPUtilisateur }}" placeholder="Code postal"/>
                                            </td>
                                            <td>
                                                <input style="width:92.5%;" type="text" name="AdrVilleUtilisateur" value="{{info_etudiant.AdrVilleUtilisateur }}" placeholder="Ville"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <input style="width:96.5%;" type="text" name="AdrPaysUtilisateur" value="{{ info_etudiant.AdrPaysUtilisateur }}" placeholder="Pays"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">
                                                <i class="fa fa-flag"></i> Nationalité
                                            </td>
                                            <td colspan="2">
                                                <input style="width:96.5%;" type="text" name="nationaliteUtilisateur" value="{{ info_etudiant.nationaliteUtilisateur }}" placeholder="Nationalité"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="center">
                                                <br/>
                                                <button class="btn btn-warning" type="submit"><i class="fa fa-refresh"></i> Mettre à jour</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>

                            {# affichage des information d'un etudiant #}
                            {% else %}

                            <header>
                                <h3>{{ info_etudiant.PrenomUtilisateur }} {{ info_etudiant.NomUtilisateur }}</h3>
                            </header>
                            <div class="panel-body" id="user_info">

                                <img src="{{ info_etudiant.photoUtilisateur }}"/>
                                <p>
                                <i class="fa fa-envelope"></i> <a href="mailto:{{ info_etudiant.EmailUtilisateur }}">{{ info_etudiant.EmailUtilisateur }}</a>
                                <br/>
                                <i class="fa fa-birthday-cake"></i> né{% if info_etudiant.sexeUtilisateur=='F' %}e{% endif %} le {{ info_etudiant.DateNaissanceUtilisateurFormat }}
                                <br/>
                                <i class="fa fa-street-view"></i> {{ info_etudiant.AdrRueUtilisateur }},<br/>{{ info_etudiant.AdrCPUtilisateur }} {{info_etudiant.AdrVilleUtilisateur }},<br/>{{ info_etudiant.AdrPaysUtilisateur }}
                                <br/>
                                <i class="fa fa-flag"></i> {{ info_etudiant.nationaliteUtilisateur }}
                                </p>
                                {% if rw and role <= 2 %}
                                    <form action="" method="post">
                                    <input hidden name="update_NumUtilisateur" value="{{ info_etudiant.NumUtilisateur }}" />
                                    <button class="btn btn-warning" type="submit"><i class="fa fa-edit"></i> Modifier</button>
                                </form>
                                {% endif %}

                                {% if info_etudiant.cursus is not empty %}
                                <p>
                                {{ info_etudiant.cursus.anneeInscrire }} - {{ info_etudiant.cursus.LibelleFormation }}
                                </p>
                                {% endif %}

                                {% if info_etudiant.missions.0 is not empty %}
                                <p>
                                {% for mission in info_etudiant.missions %}
                                {{ mission.objet_mission }} : {{ mission.mission }}<br/>
                                {% endfor %}
                                </p>
                                {% endif %}

                                {% if rw and role <= 2 %}
                                <br/>
                                <hr/>
                                <br/>
                                <form action="" method="post" class="p-delete">
                                    <input type="checkbox" required name="delete_NumUtilisateur" value="{{ info_etudiant.NumUtilisateur }}" />
                                    Confirmer la suppression<br/>
                                    <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Supprimer</button>
                                </form>
                                {% endif %}

                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- fin #avec_nav_avec_encadres .contenu -->



                    <hr class="separateur_sections_page" />


                    <div id="encadres">

                        {% include 'includes/$encadres.html' %}

                    </div>
                    <!-- #encadres -->

                </div>
                <!-- #contenu_deco -->
                <div class="separateur"></div>

            </div>
            <!-- #page -->
        </div>
        <!-- #page_deco -->

        <div class="bordure"></div>
        <div id="pied_deco">

            {% include 'includes/$pied_deco.html' %}

        </div>
        <!-- #pied_deco -->

    </body>

</html>
