<!DOCTYPE html>
<html lang="fr">

<head>

	{% include 'includes/$head.html' %}

</head>

<body class="pageaccueil accueil">

	<div class="bordure"></div>


	<div id="bandeau_deco">

		{% include 'includes/$bandeau_deco.html' %}

	</div>
	<!-- #bandeau_deco -->

	<div id="page_deco">

		<div id="page">


			<div id="navigation">

			</div>

			<hr class="separateur_sections_page" />
			<div id="contenu_deco">

				<div id="bandeau_illustration"></div>

				{% include 'includes/$header_nav.html' %}

				{% include 'includes/$menu.html' %}

				<div id="avec_nav_avec_encadres" class="contenu">

					<div class="panel panel-login center">
						<header>
							<h3 style="color:#ffffff;">Identification requise</h3>
						</header>
						<div id="identification" class="panel-body center">
							<form action="" id="form_identification" method="POST">
								<input required type="text" name="account" id="id_user" placeholder="Identifiant" style="color:#000000;"/>
								<input required type="password" name="password" id="mot_passe" placeholder="Mot de passe" style="color:#000000;" />
								<button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Connexion</button>
								<br/>
								<br/>
								<a class="link" id="password_forgot" href="password_forgot.php" title="Mot de passe oublié ?">Mot de passe oublié?</a>
							</form>
						</div>
					</div>
					<!-- fin #zone1 -->
				</div>
				<!-- fin #avec_nav_avec_encadres .contenu -->
				<hr class="separateur_sections_page" />


				<div id="encadres">

					{% include 'includes/$encadres.html' %}

				</div>
				<!-- #encadres -->

			</div>
			<!-- #contenu_deco -->
			<div class="separateur"></div>

		</div>
		<!-- #page -->
	</div>
	<!-- #page_deco -->

	<div class="bordure"></div>
	<div id="pied_deco">

		{% include 'includes/$pied_deco.html' %}

	</div>
	<!-- #pied_deco -->

</body>

</html>
