<!DOCTYPE html>
<html lang="fr">
<head>

    {% include 'includes/$head.html' %}

</head>

<body class="pageaccueil accueil">

<div class="bordure"></div>


<div id="bandeau_deco">

    {% include 'includes/$bandeau_deco.html' %}

</div> <!-- #bandeau_deco -->

<div id="page_deco">

    <div id="page">


        <div id="navigation">

        </div>

        <hr class="separateur_sections_page"/>
        <div id="contenu_deco">

            <div id="bandeau_illustration"></div>

            {% include 'includes/$header_nav.html' %}

            {% include 'includes/$menu.html' %}

            <div id="avec_nav_avec_encadres" class="contenu">

              <div class="panel panel-login center" {# id="zone1_accueilsite" #}>
                <header>
                  <h3 style="color:#ffffff;">Récupération de mot de passe</h3>
                </header>
                <div id="identification" class="panel-body center">
                  <form action="" id="form_identification" method="POST">
                    <input required type="text" name="account" id="id_user" placeholder="Identifiant" />
                    <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Envoyer</button>
                    <br/>
                    <br/>
                    <a class="link" id="password_forgot" href="index.php" title="Je m'en souviens"><i class="fa fa-arrow-left"></i> Retour</a>
                  </form>
                </div>
              </div>

              <!--  <div id="zone1_accueilsite">

                    <div id="identification">
                        <form action="" id="form_identification" method="POST">
                            <p>
					<span id="sprytextfield1">
						<span class="lbl_identification">Identifiant</span>
						<input required type="text" name="account" id="id_user" />
					</span>
                            </p>
                            </br>
                            <a id="MDPO" href="index.php" title="Mot de passe oublié ?" style="color:#1E1E1E;font-size:12px;text-decoration:none">Je m'en souviens !</a>
                            <br/>

                            <p id="btn_valider">
                                <input name="btn_valider" type="submit" value="Envoyer un nouveau mot de passe" />
                            </p>

                        </form>
                    </div>

                </div>fin #zone1 -->



            </div> <!-- fin #avec_nav_avec_encadres .contenu -->
            <hr class="separateur_sections_page"/>


            <div id="encadres">

                {% include 'includes/$encadres.html' %}

            </div> <!-- #encadres -->

        </div> <!-- #contenu_deco -->
        <div class="separateur"></div>

    </div> <!-- #page -->
</div> <!-- #page_deco -->

<div class="bordure"></div>
<div id="pied_deco">

    {% include 'includes/$pied_deco.html' %}

</div> <!-- #pied_deco -->

</body>
</html>
